body{
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
    height: 100vh;
}
.screen{
    display: flex;
    flex-direction: column;
    flex: 1;
    border: none;
    width: 100%;
    height: 100%;
    background-color: #051013;

}

.cabeca{
    display: flex;
    justify-content: center;
    color: aliceblue;
    
}
::-webkit-scrollbar{
    width: 0px;
}
#pt1{
    
    width: 50%;
   
}
.chats{
    display: flex;
    flex-direction: column;
    flex: 1;
    

}

#ponto{
    display: flex;
    justify-content: end;
    align-items: center;
    width: 45%;

   
}
.filter{

    padding-top: 0.5vh;
    padding-left: 6vw;
    padding-bottom: 0.8vh;
}
.filter > button{
    background-color: #4e575ac3;
    color: rgb(135, 157, 175);
    border-radius:7px;
    font-size: 9px;
    border: none;
    padding: 4px 8px 3px 8px;
   
}
.filter > button:hover{
    animation: gren 0.2s  forwards;
}
@keyframes gren{
    0%{
        background-color: #434e52c3;

    }
    100%{
        color: rgb(14, 246, 14);
        background-color: rgba(76, 216, 76, 0.217);
    }
}
.btn{
    width: 25px;
    height: 25px;
    border-radius: 30px;
    font-size: 13pt;
    color: aliceblue;
    border-style: none;
    background-color: transparent;

}
.pesquisa{
   display: flex;
   justify-content: center;
}
.pesquisa > input{
    text-indent: 10px;
    color: aliceblue;
    outline-style: none;
    border: none;
    padding: 8px;
    border-radius: 15px;
    box-sizing: border-box;
    width: 90vw;
    background-color: #4e575ac3;
}
.pesquisa > input::placeholder{
    font-size: 12px;
  color: rgb(169, 180, 189);
}
.btn:hover{
    
    animation: cor 0.3s forwards ;
}
@keyframes cor{

      100%{
        background-color: #4e575ac3;
      }
}
.chat{
    
    display: flex;
    align-items: center;
    height: 65px;
    width: 100%;
    
}
.nome_msg{
    overflow: hidden;
    
    flex: 1;
    padding-left: 8px;
    display: flex;
    flex-direction: column;
   
}
.hora{
    font-size: 8px;
    color: gray;
    margin: 0;
}
.msg{
    color: grey;
    margin: 0;
}
.name{
    
    margin: 0;
    padding-bottom: 5px;
    font-size: 12px;
    color: aliceblue;
    
    
}
.hr{
    margin-right: 6%;
    
    padding-bottom: 3vh;
    
    
    
}
.chat:hover{
   animation: gr 0.3s forwards;
}
@keyframes gr{

    100%{
        background-color : #162427; 
    }
}
.icon{
    padding-left: 5vw;
    width: 35px;
    height: 35px;
    
}
.icon img{
    border-radius: 30px;
    width: 35px;
    height: 35px;
}
.bar{
    display: flex;
    justify-content: center;
   
   
    height:70px;
    
}
.end{
  
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 68vw;
  
}
.end img{
    width: 18px;
    border-radius: 10px;
    padding: 3px 14px 3px 14px;
}
.end img:hover{
    animation: cht 0.3s forwards;
}
@keyframes cht {

    100%{
        background-color: rgba(76, 216, 76, 0.217);
    }
}
.end p{
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 12px;
    font-weight: 600;
    color: white;
    margin: 0;
    border: none;
    background-color: transparent;
}